<p id="notice"><%= notice %></p>

<p>
  <b><%= @status.user.full_name %></b>
</p>

<p>
  <%= @status.content %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
